body {
   font-family: sans-serif;
}

div#content {
    width:100%;
    border:0px dashed blue;
    float:left;
}

div.http {
    display:block;
    text-align:right;
    position:absolute;
    top:1px;
    right:1px;
    padding:1px;
    border:4px solid #caecae;
    width:30%;
    float:right;
    height:3em;
}

div.http h4 {
    padding:0;
    margin:0;
}

div.http a {
    padding:0.25em;
}

div.footer {
    width:60%;
    float:left;
    margin:1em;
    padding:0.5em;
    border:1px solid #ededed;
}

div.footer div {
  margin-right:1em;
  width:auto;
  float:left;
}

div.poweredby {
  float:right;
  text-align:right;
  width:100%
}

div.guess {
    border:0px dashed red;
    width:70%;
    float:left;
    padding-left:1em;
}

div.guess h3 {
    padding:0.5em;
    margin:0;
    text-align:left;
    width:auto;
}

div.guess i {
    float:right;
    text-align:right;
    width:auto;
}

div.question {
    display:block;
    width:55%;
    float:left;
    border:0px dashed blue;
}

.debug {
    display:none;
}

div.debug {
    border:0px dashed green;
    margin:1px;
    padding:1px;
}

div.history {
    border:1px solid blue;
    width:35%;
    float:right;
}

td.correct {
    background:lightgreen;
}

td.incorrect {
    background:red;
}
