body {
   font-family: sans-serif;
}

div#content {
    width:100%;
}


div.sessiondata {
    text-align:right;
    position:absolute;
    bottom:1px;
    left:1px;
    padding:1px;
    border:1px solid #caecae;
    width:30%;
    float:right;
}

div.reqdata {
    text-align:right;
    position:absolute;
    right:1px;
    bottom:1px;
    padding:1px;
    border:1px solid #caecae;
    width:30%;
    float:right;
}

div.sessiondata a {
    padding-right:1em;
}

div.sessiondata h4 {
    padding:0;
    margin:0;
}

div.footer {
    width:60%;
    float:left;
    margin:1em;
    padding:0.5em;
    border:1px solid #ededed;
}

div.footer div {
  margin-right:1em;
  width:auto;
  float:left;
}

div.poweredby {
  float:right;
  text-align:right;
  width:100%
}

